node_modules
/public/upload

# .gitignore文件是一个用来指定哪些文件或目录不应被Git版本控制系统追踪的配置文件。
# 它的作用是告诉Git在进行版本控制操作时忽略指定的文件或目录，
# 这样可以避免将不需要跟踪的文件包括在版本控制中，从而减少仓库的体积和提高操作效率。

# .gitignore文件通常位于Git仓库的根目录下，也可以放置在子目录中以针对特定目录下的文件进行忽略设置。
# 该文件可以使用简单的模式匹配规则来指定要忽略的文件或目录，支持通配符和正则表达式。

# .gitignore文件的功能和作用包括：

# 忽略操作系统生成的临时文件和备份文件，如临时文件、日志文件、崩溃报告等。
# 忽略编译生成的中间文件和目标文件，如.class、.o、.dll等。
# 忽略IDE或编辑器生成的配置文件和项目文件，如.vscode、.idea、.project等。
# 忽略依赖管理工具生成的目录和文件，如node_modules、packages等。
# 忽略敏感信息和机密文件，如API密钥、密码文件等。
# 忽略自动生成的文档和报告文件，如API文档、测试报告等。
# 忽略个人或团队的自定义设置文件，如个人的配置文件、团队共享的设置文件等。
# 通过使用.gitignore文件，可以确保不希望被版本控制的文件和目录不会被意外地包含在仓库中，
# 从而保持仓库的整洁性，减少冲突和合并问题，并提高代码仓库的可维护性和可移植性。

# 使用Git将代码上传到远程仓库时记得要设置用户名和邮箱（github账号
# PS E:\QianDuan\NodeJS\代码\12_项目上线\代码> git config --global user.name "ShiMo-ARaRe"
# PS E:\QianDuan\NodeJS\代码\12_项目上线\代码> git config --global user.email feizhijie2366@gmail.com